{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% include "partials/_navigation-bar.html" %}

    <h1>Please sign in for all the features </h1>
        <form  action="#" method="POST">
            <p class="in-line">Username:</p>
            <div class="text-input-container in-line">
                <input type="text" name="nm"></input>
            </div>
                <button  style="display: block; margin-top: 10px;" type="submit" value="submit">Submit</button>
        </form>
{% endblock %}