<dialog id="set-info-container">
    <div id="dialog-header">
        <h1 id="set-name-header"></h1>
        <button id="close-btn">X</button>    
    </div>
    <div id="set-preview-div" class="preview-layout"></div>
    <div id="set-actions" class="action-row">
        <button id="learn-btn">Learn</button>
        <button id="review-btn">Review</button>
        <button id="edit-btn">Edit</button>
        <button id="merge-btn">Merge</button>
        <button id="delete-btn">Delete</button>
    </div>
</dialog>