<dialog id="set-info-container">
    <div id="dialog-header">
        <h1 id="set-name-header"></h1>
        <button id="close-button">X</button>    
    </div>
    <div id="set-preview-div" class="preview-layout"></div>
    <div id="set-actions" class="action-row">
        <button id="learn-button">Learn</button>
        <button id="review-button">Review</button>
        <button id="edit-button">Edit</button>
        <button id="merge-button">Merge</button>
        <button id="delete-button">Delete</button>
    </div>
</dialog>