<dialog>
    <div id="session-details-div">
        <h1 id="details-header"></h1>
        <h3 id="time-elapsed-header"></h3>
        <h3 id="percent-learned-header"></h3>
    </div>
    <div id="navigation-buttons-div">
        <button id="continue-learn-btn">
            Continue Learning
        </button>
        <button id="return-to-sets-btn">
            Return to sets
        </button>
        {% if finish %}
            <button id="quiz-btn"></button>
        {% endif %}
    </div>
    <div id="words-list-div">
        <h2 id="words-list-header">LIST PLACEHOLDER</h2>
        <ul id="words-ul"></ul>
    </div>
</dialog>


<!-- Shown when user clicks the continue learning button -->
<dialog id="learn-options">
    <button id="continue-current-session-btn">Continue this session</button>
    <button id="review-mode-btn">Change to review mode</button>
</dialog>

<!-- Shows when user wants to continue learning, but has finished learning -->
<dialog id="reset-progress-dialog">
    <h1>Are you sure?</h1>
    <h3>This action resets all learning progress</h3>
    <button id="yes-reset-btn">Yes</button>
    <button id="no-reset-btn" onclick="closeResetProgressDialog()">No</button>
</dialog>

<script>
    const sessionDetailsDialog = document.getElementById("session-details-div");

    const baseReviewUrl = "{{ url_for('sets.sets', mode='review', set_id=-1) }}";

    
    const returnToSetsBtn = document.getElementById("return-to-sets-btn")
    returnToSetsBtn.addEventListener("click", returnToSets())

    
    function returnToSets() {
        window.location.href = "/sets/"
    }

    const continueSessionBtn = document.getElementById("continue-current-session-btn");

    continueSessionBtn.addEventListener("click", () => {
        if (finish) {
            resetProgressDialog.showModal();
        } else {
            sessionDetailsDialog.close();
        }
    })

    const turnOnReviewMode = document.getElementById("review-mode-btn");

    turnOnReviewMode.addEventListener("click", () => {
        const reviewUrl = baseReviewUrl.replace("-1", setId);
        window.location.href = reviewUrl
    })

    const learningOptionsDialog = document.getElementById("learn-options");
    const resetProgressDialog = document.getElementById("reset-progress-dialog")

    function closeLearningOptionsDialog() {
        learningOptionsDialog.close();
        if (finish) {
            resetProgressDialog.showModal();
        }
    }

    const continueLearningBtn = document.getElementById("continue-learn-btn");
    continueLearningBtn.addEventListener("click", () => {
        learningOptionsDialog.showModal();
    });

    const yesResetBtn = document.getElementById("yes-reset-btn");

    yesResetBtn.addEventListener("click", () => {
        handleReset();
    })

    function resetProgress() {
        for (let i=0; i<cards.length; i++) {
            cards[i]["eFactor"] = 12;
        }
    }

    function handleReset() {
        resetProgress();
        resetProgressDialog.close()
        sessionDetailsDialog.close();
    }
</script>