

<dialog class="study-event-dialog" id="finish-event-dialog">
    <div id="finish-details-div">
        <h1 id="finish-header">SET NAME FINISHED</h1>
        <h3 id="total-learned-header">NUMBER</h3>
    </div>
    <div id="finish-navigation-div">
        <button id="reset-learning-button">Reset Learning Progress</button>
        <button id="review-mode-button">Review Mode</button>
        <button id="return-to-sets-button">Return to sets</button>
        <button id="quiz-button">Quiz</button>
    </div>
</dialog>

<!-- Shows when user wants to reset progress -->
<dialog id="reset-progress-dialog">
    <h1>Are you sure?</h1>
    <h3>This action is irreversible</h3>
    <div id="yes-no-button-container">
        <button class="yes-no-button" id="yes-reset-button">Yes</button>
        <button class="yes-no-button" id="no-reset-button">No</button>
    </div>
</dialog>

</body>