<div class="block" id="vocab-by-letter">
    <div class="beside">{{ letter }}</div>
    <div class="beside">
        <ul class="block" id="letter-glosses-list">
            {% for gloss in main_gloss_list %}
                <li class="block">
                    <a href="{{ url_for('vocab', main_gloss_id=gloss._id, gloss_id=gloss.head_gloss_id) }}">
                        {{ gloss.main_gloss }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>