{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block content %}
    <h1>All ASL Glosses</h1>

    <script>
        const glosses = {{ fc_set | tojson }};
        const cards = {{ letter }}

        async function loadGlossDiv() {
            const response = await fetch("{{ url_for('static', filename='handshapes-table.html') }}");
            const htmlString = await response.text();

            const parser = new DOMParser();

            const doc = parser.parseFromString(htmlString, 'text/html');
        }
        
    </script>
{% endblock %}