{% block title %}Learn{% endblock %}

<button id="pause-button">Pause session</button>

{% include "partials/_flashcard-full.html" %}

{% include "partials/finish-session.html" %}
{% include "partials/pause-session.html" %}


<script type="module">

    // Imports all flashcard data and sets up state
    import { initCardData } from "{{ url_for('static', filename='flashcard/flashcardUtils.js') }}";

    import { initSessionState } from "{{ url_for('study.static', filename='dialogUtils.js' )}}";
    import { setupLearnActions } from "{{ url_for('study.static', filename='learn.js' )}}";

    import { setupFinishDialog } from "{{ url_for('study.static', filename='finishDialog.js' )}}";
    import { setupPauseDialog } from "{{ url_for('study.static', filename='pauseDialog.js' )}}";


    const setId = window.location.pathname.split("/").pop();

    // Initializes data for event handlers
    const cardContainer = document.getElementById("card-div");
    const [cards, cardState] = await initCardData(setId, cardContainer)

    const cardButtonsDiv = document.getElementById("flashcard-actions");
    const sessionState = initSessionState(cards, cardState.setName, setId);

    const pauseButton = document.getElementById("pause-button");

    setupLearnActions(cards, cardState);

    setupFinishDialog(document, cardButtonsDiv, sessionState);

    setupPauseDialog(pauseButton, sessionState);

</script>

