{% block title %}Learn{% endblock %}

<button id="pause-button">Pause session</button>

{% include "partials/_flashcard-full.html" %}

{% include "partials/finish-session.html" %}
{% include "partials/pause-session.html" %}


<script type="module">

    import { initCardData, setupFlashcardActions } from "{{ url_for('display.static', filename='sets.js') }}";
    import { setupFinishDialog } from "{{ url_for('study.static', filename='finishDialog.js' )}}";
    import { setupPauseDialog } from "{{ url_for('study.static', filename='pauseDialog.js' )}}";
    import { initSessionState } from "{{ url_for('study.static', filename='dialogUtils.js' )}}";

    const setId = window.location.pathname.split("/").pop();
    const reviewMode = "{{ review }}";

    // Initializes data for event handlers
    let cardContainer = document.getElementById("card-div");
    let [cards, state] = await initCardData(setId, cardContainer)

    let nameHeader = document.getElementById("name-header");

    let cardButtonsDiv = document.getElementById("flashcard-actions");
    // Sets up event listeners
    setupFlashcardActions(nameHeader, cards, cardContainer, cardButtonsDiv, document, state, reviewMode)

    let finish = false;



    const sessionState = initSessionState(cards, state.setName, setId);

    const pauseButton = document.getElementById("pause-button");

    setupFinishDialog(document, cardButtonsDiv, sessionState)

    setupPauseDialog(pauseButton, sessionState);

</script>

