{% block title %}Review{% endblock %}

{% include "partials/_flashcard.html" %}


    <script type="module">

        // Imports all flashcard data and sets up state
        import { initCardData } from "{{ url_for('static', filename='flashcard/flashcardUtils.js') }}";
        
        // Imports JS for flashcard functionality elements
        import { setupReviewActions } from "{{ url_for('display.static', filename='review.js') }}";

        const setId = window.location.pathname.split("/").pop();

        // Initializes data for event handlers
        const cardContainer = document.getElementById("card-div");
        const [cards, cardState] = await initCardData(setId, cardContainer);

        // Sets up event listeners
        setupReviewActions(cards, cardState);

    </script>

