{% extends "base.html" %}

{% block title %}Review{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('study.static', filename='css/study.css')}}">
{% endblock %}
 
{% block content %}

    {% include "partials/_navigation-bar.html" %}
    {% include "partials/_flashcard.html" %}

{% endblock %}

{% block script %}

    <script type="module">

        // Imports all flashcard data and sets up state
        import { initCardData } from "{{ url_for('static', filename='flashcard/flashcardUtils.js') }}";
        
        // Imports JS for flashcard functionality elements
        import { setupReviewActions } from "{{ url_for('display.static', filename='review.js') }}";

        const setId = window.location.pathname.split("/").pop();

        // Initializes data for event handlers
        const frontDiv = document.getElementById("flashcard-front-div");
        const backDiv = document.getElementById("flashcard-back-div");
        const [cards, cardState] = await initCardData(setId, frontDiv, backDiv);

        // Sets up event listeners
        setupReviewActions(cards, cardState);

    </script>
{% endblock %}