[hidden] {
  display: none !important;
}

button {
    background-color: var(--light-accent-color);
    color: var(--offset-primary-color);
    border-radius: 8px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    margin: 
}

.special-buttons {
    background-color: var(--complementary-color);
    color: var(--primary-color);
    border-radius: 15px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.logo {
    display: flex;
    float: left;
    max-width: 100%;
    height: auto;
    width: 250px;
    padding: none;
}

.flashcard {
    display: grid;
    place-items: center;
    padding: 40px;
    margin-bottom: 25px;
    border-color: var(--flashcard-shadow);
    border-style: solid;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 0;
    border-top-width: 0;
    border-radius: 8px;
    background-color: var(--flashcard-color);
    width: 30vw;
    height: 23vh;
}

dialog {
    width: 60vw;
    height: 60vh;
    padding: 30px;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 0;
    border-top-width: 0;
    border-radius: 10px;
    border-color: var(--shadow-color);
}

dialog[open] {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: var(--primary-color);
    padding-top: 0;
    
}

dialog[open] > button {
    margin: 5px;
}

#dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.video-block > iframe {
    width: 90%;
    min-width: 200px;
    max-width: 300px;
    border-radius: 10px;
    background-color: var(--flashcard-shadow);
    padding: 5px;
}

.explore-more {
    display: grid;
    border-radius: 10px;
    background-color: var(--offset-light-accent-color);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 25px;

}

fieldset {
    margin-bottom: 20px;
    color: var(--dark-accent-color);
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-color: var(--flashcard-shadow);
    place-items: center;
    background-color: var(--flashcard-color);
    border-style: solid;
    border-radius: 8px;
    display: grid;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    box-sizing: border-box;
    padding: 5% 10%;

}

.back {
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 0px;
    border-top-width: 0px;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.front {
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 0;
    border-top-width: 0;
}

.study-container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    width: 30vw;
    height: 23vh;
}

.study-container:hover > .card {
    cursor: pointer;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.front iframe,
.back iframe {
    width: 90%;
    height: 90%;
}


.info-close-button {
    margin-left: auto;
}

.set-info-container {
    position: relative;
}

.dialog-info-header {
    width: 100%;
    position: absolute;
    top: 30px;
    right: 30px;
}

.yes-no-button {
    display: inline-block;
    width: 18%;
}

.text-input-container > input {
    margin-top: 5px;
    border: none;
    width: 300px;
    height: 20px;
    border-radius: 15px;
    padding-left: 10px;
}