:root {
    --primary-color: rgb(247 242 242);
    --light-accent-color: rgb(149 179 145);
    --dark-accent-color: rgb(53 93 57);
    --primary-text-color: rgb(76, 74, 74);
    --offset-primary-color: rgb(247 242 242);
    --offset-light-accent-color: rgb(212, 221, 210);
    --font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    --hyperlink-color: #3980cb;

}

body {
    background-color: var(--primary-color);
    font-family: var(--font-family); 
    padding: 50px;
    color: var(--primary-text-color);
}

body > div {
    margin-bottom: 50px;
}

.in-line {
    display: inline;
}

ul {
    list-style-type: none;
    margin-right: -15px;
    margin: 5px;
}

li {
    margin: 0;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

.grid {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.explore-more {
    display: grid;
    border-radius: 10px;
    background-color: var(--offset-light-accent-color);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 25px;
}

a {
    text-decoration: none;
    color: var(--hyperlink-color);
}

.video-block > iframe {
    width: 90%;
    min-width: 200px;
    max-width: 300px;
    
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;
}

.search-suggestions {
    display: block;
    background-color: #DED1B6;
    z-index: absolute;
    position: relative;
}
.search-container {
    display: flex;
    flex-direction: column;
    width: 300px;

}