{% extends "base.html" %}
{% block title %}Vocab{% endblock %}
{% block content %}

    <h1>{{ main_gloss.main_gloss }}</h1>
    <div id="vocab-container" class="vocab-container">
        <form action="/create/configure/flashcards" method="POST">
            <button class="special-buttons" type="submit" {% if not user %}hidden{% endif %}>Create Flashcard</button>
            <select id="gloss-select" name="gloss_id" {% if main_gloss.glosses|length == 1 %}hidden="hidden"{% endif %}>
                {% for g in main_gloss.glosses %}
                    <option value="{{ g._id }}" {% if g._id == gloss._id %}selected{% endif %}>{{ g.asl_gloss }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="main-gloss" value="{{ main_gloss.main_gloss }}">
        </form>

        <h2 id="gloss-header" {% if main_gloss.glosses|length == 1 %}hidden="hidden"{% endif %} >GLOSS-HEADER-PLACEHOLDER</h2>
        <iframe id="gloss-video-iframe">GLOSS VIDEO</iframe>
        <div id="handshape-table"></div>

        <div id="related-glosses-div">
            {% if related_glosses["same_notes_main_glosses"] %}
                <h4>Similar to:</h4>
                <div class="explore-more">
                    {% for main_gloss in related_glosses["same_notes_main_glosses"] %}
                        <a href="{{ url_for('vocab.vocab', main_gloss_id=main_gloss._id, gloss_id=main_gloss.head_gloss_id) }}">
                            {{ main_gloss.main_gloss }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if related_glosses["appears_in_main_glosses"] %}
                <h4>Appears in:</h4>
                <div class="explore-more">
                    {% for main_gloss in related_glosses["appears_in_main_glosses"] %}
                        <a href="{{ url_for('vocab.vocab', main_gloss_id=main_gloss._id, gloss_id=main_gloss.head_gloss_id) }}">
                            {{ main_gloss.main_gloss }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>




    <script>
        const MAIN_GLOSS_ID = "{{ main_gloss._id }}";
        const HAND_SHAPE_LIST = ["dom_start", "dom_end", "non_dom_start", "non_dom_end"];

        // Get the gloss selected with the gloss_id in URL
        async function loadGlossFromRoute(pathname) {

            const request = await fetch("/api" + pathname);
            const glossData = await request.json();

            updateGlossHeader(glossData)
            updateGlossVideo(glossData)
            
            loadHandshapeTable(glossData.handshapes, glossData.hs_imgs);
        }

        const glossHeader = document.getElementById("gloss-header");

        function updateGlossHeader(glossData) {
            if (glossData.display_name) {
                glossHeader.innerText = glossData.display_name;
            } else {
                glossHeader.innerText = glossData.asl_gloss;
            }
        }

        const glossVideoEl = document.getElementById("gloss-video-iframe");
        
        function updateGlossVideo(glossData) {
            if (glossData.youtube_url) {
                glossVideoEl.src = glossData.youtube_url;
            } else {
                glossVideoEl.srcdoc = "Video Not Available"
            }
        }

        // Gets a handshape table and inserts data
        async function loadHandshapeTable(handshapeData, handshapeImgs) {
            // Gets html elements of the hand shape table contained in a doc 
            const doc = await getHandshapeTableDoc();

            injectHandshapeData(handshapeData, handshapeImgs, doc);
            updateHandshapeTable(doc);
        }

        async function getHandshapeTableDoc() {
            const response = await fetch("{{ url_for('display.static', filename='handshapes-table.html') }}");
            const htmlString = await response.text();

            const parser = new DOMParser();

            // Creates HTML elements from html string
            const doc = parser.parseFromString(htmlString, 'text/html');

            return doc;
        }

        function injectHandshapeData(handshapeData, handshapeImgs, doc) {
            for (const handshape of HAND_SHAPE_LIST) {
                console.log(handshape)
                var p = document.createElement("p");
                var hs_img = document.createElement("img");

                // Inserts the handshape label
                p.innerText = handshapeData[handshape];

                // Inserts video
                if (handshapeImgs[handshape]) {
                    hs_img.setAttribute("src", handshapeImgs[handshape]);
                }
                
                if (handshapeData[handshape]) {

                    // Gets the td element from the parsed handshape table
                    tableSection = doc.getElementsByClassName(handshape.replaceAll("_", "-"))[0]

                    tableSection.appendChild(p);

                    if (handshapeImgs[handshape]) {
                        tableSection.appendChild(hs_img);
                    }
                }
            }
        }

        function updateHandshapeTable(doc) {

            const handshapeTableEl = document.getElementById("handshape-table");

            // Adds the handshape paragraph and image element to table
            handshapeTableEl.innerHTML = "";
            handshapeTableEl.append(...doc.body.childNodes);
        }

        // Changes the URL to change the variant gloss showed
        function navigateToGloss(glossID) {
            history.pushState({}, "", `/vocab/${MAIN_GLOSS_ID}/${glossID}`);
        }
        
        // Updates DOM info when user changes select element
        glossSelectEl = document.getElementById("gloss-select");
        glossSelectEl.addEventListener("change", () => {
            if (glossSelectEl.value) {
                navigateToGloss(glossSelectEl.value);
            }
        })

        // Loads DOM info when url changes
        window.addEventListener("DOMContentLoaded", () => {
            if (glossSelectEl.value) {
                loadGlossFromRoute(window.location.pathname);
            } else {
                glossSelectEl.value = "{{ main_gloss.head_gloss_id }}";
                loadGlossFromRoute(window.location.pathname);
            }
        });

        // Updates DOM info when user navigates to page
        window.navigation.addEventListener("navigate", (event) => {
            const url = new URL(event.destination.url);
            loadGlossFromRoute(url.pathname); 
        });

        

    </script>
{% endblock %}