{% extends "base.html" %}
{% block title %}Vocab{% endblock %}
{% block content %}

{% include "partials/_navigation-bar.html" %}

    <h1>{{ main_gloss.main_gloss }}</h1>
    <div id="vocab-container" class="vocab-container">
        <form action="/create/configure/flashcards" method="POST">
            <button type="submit" class="special-buttons" {% if not user %} hidden {% endif %} >Create Flashcard</button>
            <select id="gloss-select" name="gloss_id" {% if main_gloss.glosses|length == 1 %}hidden="hidden"{% endif %}>
                {% for g in main_gloss.glosses %}
                    <option value="{{ g._id }}" {% if g._id == gloss._id %}selected{% endif %}>{{ g.asl_gloss }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="main-gloss" value="{{ main_gloss.main_gloss }}">
        </form>

        <h2 id="gloss-header" {% if main_gloss.glosses|length == 1 %}hidden="hidden"{% endif %} >GLOSS-HEADER-PLACEHOLDER</h2>
        <iframe id="gloss-video-iframe">GLOSS VIDEO</iframe>
        <div id="handshape-table"></div>

        <div id="related-glosses-div">
            {% if related_glosses["same_notes_main_glosses"] %}
                <h4>Similar to:</h4>
                <div class="explore-more">
                    {% for main_gloss in related_glosses["same_notes_main_glosses"] %}
                        <a href="{{ url_for('vocab.vocab', main_gloss_id=main_gloss._id, gloss_id=main_gloss.head_gloss_id) }}">
                            {{ main_gloss.main_gloss }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if related_glosses["appears_in_main_glosses"] %}
                <h4>Appears in:</h4>
                <div class="explore-more">
                    {% for main_gloss in related_glosses["appears_in_main_glosses"] %}
                        <a href="{{ url_for('vocab.vocab', main_gloss_id=main_gloss._id, gloss_id=main_gloss.head_gloss_id) }}">
                            {{ main_gloss.main_gloss }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}

    <script type="module">
        import {loadHandshapeTable} from "/static/vocab/handshape_table.js";

        const MAIN_GLOSS_ID = "{{ main_gloss._id }}";
        const HAND_SHAPE_LIST = ["dom_start", "dom_end", "non_dom_start", "non_dom_end"];

        // Get the gloss selected with the gloss_id in URL
        async function loadGlossFromRoute(pathname) {

            const request = await fetch("/api" + pathname);
            const glossData = await request.json();

            updateGlossHeader(glossData)
            updateGlossVideo(glossData)
            
            loadHandshapeTable(glossData.handshapes, glossData.hs_imgs);
        }

        const glossHeader = document.getElementById("gloss-header");

        function updateGlossHeader(glossData) {
            if (glossData.display_name) {
                glossHeader.innerText = glossData.display_name;
            } else {
                glossHeader.innerText = glossData.asl_gloss;
            }
        }

        const glossVideoEl = document.getElementById("gloss-video-iframe");
        
        function updateGlossVideo(glossData) {
            if (glossData.youtube_url) {
                glossVideoEl.src = glossData.youtube_url;
            } else {
                glossVideoEl.srcdoc = "Video Not Available"
            }
        }

        function navigateToGloss(glossID) {
            history.pushState({}, "", `/vocab/${MAIN_GLOSS_ID}/${glossID}`);
        }

        const glossSelectEl = document.getElementById("gloss-select");

        glossSelectEl.addEventListener("change", () => {
            if (glossSelectEl.value) {
                navigateToGloss(glossSelectEl.value);
            }
        })

        // Loads DOM info when url changes
        window.addEventListener("DOMContentLoaded", () => {
            if (glossSelectEl.value) {
                loadGlossFromRoute(window.location.pathname);
            } else {
                glossSelectEl.value = "{{ main_gloss.head_gloss_id }}";
                loadGlossFromRoute(window.location.pathname);
            }
        });

        // Updates DOM info when user navigates to page
        window.navigation.addEventListener("navigate", (event) => {
            const url = new URL(event.destination.url);
            loadGlossFromRoute(url.pathname); 
        });

        

    </script>
{% endblock %}