{% extends "base.html" %}
{% block title %}Vocab{% endblock %}
{% block content %}
    <h1>{{ gloss.asl_gloss }}</h1>

    <!-- Dropdown list of all flashcard sets 
     
    Create new btn w/ check if want that one

    input w/ name
    front w/ options
    back w/ options
    
    flashcard values

    input w/ term
    input w/ front (can be set_default)
    input w/ back (can be set_default)
    
    create btn that returns the stuff in a post method

    cancel btn which redirects back to vocab
    
    -->
    <!-- Dropdown of all of users sets -->
    <form action="/create/flashcards" method="POST">

        <label for="set-select">Choose a flashcard set:</label>
        <select id="set-select" name="existing-set-id">
            {% for set in user.flashcard_sets %}
                <option value="{{ set._id }}" >{{ set.name }}</option>
            {% endfor %}
        </select>
        <!-- Check to create a new flashcard set -->
        <label for="create-new-set-check">Create New Set?</label>
        <input type="checkbox" name="new-set" id="create-new-set-check" value="on">
        
        <!-- Div will be hidden when create new set is not checked -->
        <fieldset id="set-attributes-fieldset" hidden disabled>
            <h4>Flashcard Set Properties</h4>
            <fieldset id="new-set-attributes">
                <legend for="set-name-text-input">Set Name</legend>
                <input type="text" name="set_name" id="set-name-text-input">
            </fieldset>

            <fieldset>
                <legend>Default Front</legend>
                <input type="radio" value="visual" name="set-front" id="set-front-visual" required>
                <label for="set-front-visual">Visual</label>

                <input type="radio" value="term" name="set-front" id="set-front-term" required>
                <label for="set-front-term">Term</label>
            </fieldset>

            <fieldset>
                <legend>Default Back</legend>
                <input type="radio" value="visual" name="set-back" id="set-back-visual" required>
                <label for="set-back-visual">Visual</label>

                <input type="radio" value="term" name="set-back" id="set-back-term" required>
                <label for="set-back-term">Term</label>
            </fieldset>
        </fieldset>

        <h4>Flashcard Properties</h4>

        <fieldset>
            <legend>Front</legend>
            <input type="radio" value="visual" name="fc-front" id="fc-front-visual">
            <label for="fc-front-visual">Visual</label>

            <input type="radio" value="term" name="fc-front" id="fc-front-term">
            <label for="fc-front-term">Term</label>

            <input type="radio" value="" name="fc-front" id="fc-front-default">
            <label for="fc-front-default">Set Default</label>
        </fieldset>

        <fieldset>
            <legend>Back</legend>
            <input type="radio" value="visual" name="fc-back" id="fc-back-visual">
            <label for="fc-back-visual">Visual</label>

            <input type="radio" value="term" name="fc-back" id="fc-back-term">
            <label for="fc-back-term">Term</label>

            <input type="radio" value="" name="fc-back" id="fc-back-default">
            <label for="fc-back-default">Set Default</label>
        </fieldset>

        <fieldset id="fc-term-container-el">
            <legend>Term</legend>
            <input type="radio" name="fc-term" value="{{ gloss.asl_gloss }}" id="fc-term-asl-gloss">
            <label for="fc-term-asl-gloss">{{ gloss.asl_gloss }}</label>

            {% if gloss.asl_gloss != main_gloss %}
            <input type="radio" name="fc-term" value="{{ main_gloss }}" id="fc-term-main-gloss">
            <label for="fc-term-main-gloss">{{ main_gloss }}</label>
            {% endif %}

            {% if gloss.display_name %}
            <input type="radio" name="fc-term" value="{{ gloss.display_name }}" id="fc-term-display_name">
            <label for="fc-term-display_name">{{ gloss.display_name }}</label>
            {% endif %}

            <input type="radio" name="fc-term" value="other" id="fc-term-other">
            <label for="fc-term-other">Other</label>

        </fieldset>

        <fieldset id="term-other-container" hidden disabled>
            <label for="fc_override_term_input">Override Term:</label>
            <input type="text" name="fc-term" id="fc_override_term_input" required>
        </fieldset>

        <input type="hidden" id="gloss-id" name="gloss-id" value="{{ gloss._id }}">

        <button type="submit">Create flashcard</button>

    </form>


    <script>
        // Need to disable the div when checkbox is not on
        setAttributesEl = document.getElementById("set-attributes-fieldset");
        createSetCheck = document.getElementById("create-new-set-check");

        createSetCheck.addEventListener("change", () => {
            setAttributesEl.disabled = !createSetCheck.checked
            setAttributesEl.hidden = !createSetCheck.checked
        });

        termOtherRadio = document.getElementById("fc-term-other");
        termTextInput = document.getElementById("fc_override_term_input");

        termTextInput.addEventListener("input", () => {
            termOtherRadio.value = termTextInput.value;
        })

        termContainerEl = document.getElementById("fc-term-container-el");
        termOtherTextEl = document.getElementById("term-other-container");

        termContainerEl.addEventListener("change", () => {
            termTextInput.required = termOtherRadio.checked;
            termOtherTextEl.disabled = !termOtherRadio.checked;
            termOtherTextEl.hidden = !termOtherRadio.checked
        });
        
    
        

    </script>
{% endblock %}


<!--
choose flashcard_set

can make flashcard_set
    name = name
    default_front = default_front
    default_back = default_back

Current values
    term: default -> asl_gloss
    front: 
    back:

preview btn -> after get study template down



-->