{% extends "base.html" %}
{% block title %}Vocab{% endblock %}
{% block content %}

    <h1>{{ gloss.asl_gloss }}</h1>

    <!-- Dropdown of all of users sets -->
    <form action="/create/flashcards" method="POST" id="set-card-form">

        <label for="set-select">Choose a flashcard set:</label>
        <select id="set-select" name="existing-set-id">
            {% for set in user.flashcard_sets %}
                <option value={{ set._id }} {% if user.flashcard_sets[0] == set %}selected{% endif %}>
                    {{ set.name }}
                </option>
            {% endfor %}
        </select>
        <!-- Check to create a new flashcard set -->
        <label for="create-new-set-check">Create New Set?</label>
        <input type="checkbox" name="new-set" id="create-new-set-check" value="on">
        
        <!-- Div will be hidden when create new set is not checked -->
        <fieldset id="set-attributes-fieldset" hidden disabled>
            <h4>Flashcard Set Properties</h4>
            <fieldset id="new-set-attributes">
                <legend for="set-name-text-input">Set Name</legend>
                <input type="text" name="set_name" id="set-name-text-input">
            </fieldset>

            <fieldset>
                <legend>Default Sides</legend>
                <input type="radio" value="visual;term" name="set-sides" id="set-front-visual">
                <label for="set-front-visual">Front: visual | Back: term</label>

                <input type="radio" value="term;visual" name="set-sides" id="set-front-term">
                <label for="set-front-term">Front: term | Back: visual</label>

                <input type="hidden" name="set-front" id="set-front">
                <input type="hidden" name="set-back" id="set-back">
            </fieldset>
        </fieldset>

        <h4>Flashcard Properties</h4>

        <fieldset>
            <legend>Sides</legend>
            <input type="radio" value="visual;term" name="fc-sides" id="fc-front-visual">
            <label for="fc-front-visual">Front: visual | Back: term</label>

            <input type="radio" value="term;visual" name="fc-sides" id="fc-front-term">
            <label for="fc-front-term">Front: term | Back: visual</label>

            <input type="radio" value="default;default" name="fc-sides" id="fc-front-default">
            <label for="fc-front-default">Front: default | Back: default</label>

            <input type="hidden" name="fc-front" id="fc-front">
            <input type="hidden" name="fc-back" id="fc-back">

        </fieldset>

        <fieldset id="fc-term-container-el">
            <legend>Term</legend>
            <input type="radio" name="fc-term" value="{{ gloss.asl_gloss }}" id="fc-term-asl-gloss">
            <label for="fc-term-asl-gloss">{{ gloss.asl_gloss }}</label>

            {% if gloss.asl_gloss != main_gloss %}
            <input type="radio" name="fc-term" value="{{ main_gloss }}" id="fc-term-main-gloss">
            <label for="fc-term-main-gloss">{{ main_gloss }}</label>
            {% endif %}

            {% if gloss.display_name %}
            <input type="radio" name="fc-term" value="{{ gloss.display_name }}" id="fc-term-display_name">
            <label for="fc-term-display_name">{{ gloss.display_name }}</label>
            {% endif %}

            <input type="radio" name="fc-term" value="other" id="fc-term-other">
            <label for="fc-term-other">Other</label>

        </fieldset>

        <fieldset id="term-other-container" hidden disabled>
            <label for="fc_override_term_input">Override Term:</label>
            <input type="text" name="fc-term" id="fc_override_term_input" required>
        </fieldset>

        <input type="hidden" id="gloss-id" name="gloss-id" value="{{ gloss._id }}">

        <button type="submit" id="submit-btn">Create flashcard</button>
        <button type="reset" id="reset-btn">Reset</button>

    </form>


    <script>
        const setAttributesEl = document.getElementById("set-attributes-fieldset");
        const createSetCheck = document.getElementById("create-new-set-check");

        // Disables and hides the new set options if user is not making a new set
        createSetCheck.addEventListener("change", () => {
            setAttributesEl.disabled = !createSetCheck.checked
            setAttributesEl.hidden = !createSetCheck.checked
        });

        const termOtherRadio = document.getElementById("fc-term-other");
        const termTextInput = document.getElementById("fc_override_term_input");

        // Syncs the other name check value with the value of the override text input
        termTextInput.addEventListener("input", () => {
            termOtherRadio.value = termTextInput.value;
        })

        const termContainerEl = document.getElementById("fc-term-container-el");
        const termOtherTextEl = document.getElementById("term-other-container");

        // Hides and disables the override text input
        termContainerEl.addEventListener("change", () => {
            termTextInput.required = termOtherRadio.checked;
            termOtherTextEl.disabled = !termOtherRadio.checked;
            termOtherTextEl.hidden = !termOtherRadio.checked;
        });
        

        const form = document.getElementById("set-card-form");

        form.addEventListener("submit", (event) => {

            let setSides = "";

            // Untangle side values
            if (createSetCheck.checked) {
                setSides = document.querySelector('input[name="set-sides"]:checked').value;
            }
            let existingSet = document.querySelector('select[name="existing-set-id"]').value;

            if (!setSides && !existingSet) {
                event.preventDefault(); // stop form submission
                alert("Please select default sides for set or choose an existing set!");
            }

            let fc_term = "";
            fc_term = document.querySelector('input[name="fc-term"]:checked');
            
            // Prevents empty term for flashcard
            if (!fc_term) {
                event.preventDefault(); // stop form submission
                alert("Please select a term for the flashcard!");
            }

            if (setSides) {
                setSides = setSides.split(";");

                document.getElementById("set-front").value = setSides[0];
                document.getElementById("set-back").value = setSides[1];
            }

            
            let fcSides = document.querySelector('input[name="fc-sides"]:checked').value;

            if (fcSides) {
                fcSides = fcSides.split(";");

                document.getElementById("fc-front").value = fcSides[0];
                document.getElementById("fc-back").value = fcSides[1];
            } else {
                e.preventDefault(); // stop form submission
                alert("Please select the sides for the flashcard!");
            }
            
        });

    </script>
{% endblock %}