{% extends "base.html" %}
{% block title %}Study{% endblock %}
{% block content %}
    <!--
    flashcard
    front -> term visual
    back -> term visual
    term -> str

    basically, gemerate element thats gonna go in div, either visual or term
    find out which w/ a var telling front or back

    -->

    <!-- Gets flashcard partial including card and buttons -->
    {% include "partials/_flashcard.html" %}

    <!-- Links JS file for DOM manipulation -->
    
    <script type="module">

        import { initCardData, setupFlashcardActions } from "/static/sets.js";

        const setId = window.location.pathname.split("/").pop();

        // Initializes data for event handlers
        let cardContainer = document.getElementById("card-div");
        let [cards, state] = await initCardData(setId, cardContainer)

        // Sets up event listeners
        setupFlashcardActions(cards, cardContainer, document, state)
    </script>

{% endblock %}
