{% extends "base.html" %}
{% block title %}Study{% endblock %}
{% block content %}

    <!-- Gets flashcard partial including card and buttons -->
    {% include "partials/_flashcard.html" %}

    <!-- Links JS file for DOM manipulation -->
    
    <script type="module">

        import { initCardData, setupFlashcardActions } from "/static/sets.js";

        const setId = window.location.pathname.split("/").pop();

        // Initializes data for event handlers
        let cardContainer = document.getElementById("card-div");
        let [cards, state] = await initCardData(setId, cardContainer)

        let nameHeader = document.getElementById("name-header");

        // Sets up event listeners
        setupFlashcardActions(nameHeader, cards, cardContainer, document, state)
    </script>

{% endblock %}
