{% extends "base.html" %}
{% block title %}Vocab{% endblock %}
{% block content %}

    <h1>{{ main_gloss.main_gloss }}</h1>
    <div id="vocab-container" class="vocab-container">
        <form action="/create/configure/flashcards" method="POST">
            <button class="special-btns" type="submit" {% if not user %}hidden{% endif %}>Create Flashcard</button>
            <select id="gloss-select" name="gloss_id" {% if main_gloss.glosses|length == 1 %}hidden="hidden"{% endif %}>
                {% for g in main_gloss.glosses %}
                    <option value="{{ g._id }}" {% if g._id == gloss._id %}selected{% endif %}>{{ g.asl_gloss }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="main-gloss" value="{{ main_gloss.main_gloss }}">
        </form>

        <h2 id="gloss-header" {% if main_gloss.glosses|length == 1 %}hidden="hidden"{% endif %} >GLOSS-HEADER-PLACEHOLDER</h2>
        <iframe id="gloss-video">GLOSS VIDEO</iframe>
        <div id="handshape-table"></div>

        <div id="related-glosses-div">
            {% if related_glosses["same_notes_main_glosses"] %}
                <h4>Similar to:</h4>
                <div class="explore-more">
                    {% for main_gloss in related_glosses["same_notes_main_glosses"] %}
                        <a href="{{ url_for('vocab', main_gloss_id=main_gloss._id, gloss_id=main_gloss.head_gloss_id) }}">
                            {{ main_gloss.main_gloss }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if related_glosses["appears_in_main_glosses"] %}
                <h4>Appears in:</h4>
                <div class="explore-more">
                    {% for main_gloss in related_glosses["appears_in_main_glosses"] %}
                        <a href="{{ url_for('vocab', main_gloss_id=main_gloss._id, gloss_id=main_gloss.head_gloss_id) }}">
                            {{ main_gloss.main_gloss }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        const MAIN_GLOSS_ID = "{{ main_gloss._id }}";
        const HS_LIST = ["dom_start", "dom_end", "non_dom_start", "non_dom_end"];

        // Get the gloss selected with the gloss_id in URL
        async function loadGlossFromRoute(pathname) {

            const request = await fetch("/api" + pathname);
            const data = await request.json();

            if (data.display_name) {
                document.getElementById("gloss-header").innerText = data.display_name;
            } else {
                document.getElementById("gloss-header").innerText = data.asl_gloss;
            }
            
            if (data.youtube_url) {
                document.getElementById("gloss-video").src = data.youtube_url;
            } else {
                document.getElementById("gloss-video").srcdoc = "Video Not Available"
            }
            
            
            loadHandshapeTable(data.handshapes, data.hs_imgs);
        }

        // Gets a handshape table and inserts data
        async function loadHandshapeTable(handshapeData, handshapeImgs) {
            const response = await fetch("{{ url_for('static', filename='handshapes-table.html') }}");
            const htmlString = await response.text();

            const parser = new DOMParser();

            // Creates HTML elements from html string
            const doc = parser.parseFromString(htmlString, 'text/html');

            // Injects each handshape in to the table
            for (var i=0;i<4;i++) {
                var p = document.createElement("p");
                var hs_img = document.createElement("img");

                // Inserts the handshape label
                p.innerText = handshapeData[HS_LIST[i]];
                
                // Inserts video
                if (handshapeImgs[HS_LIST[i]]) {
                    hs_img.setAttribute("src", handshapeImgs[HS_LIST[i]]);
                }
                
                if (handshapeData[HS_LIST[i]]) {

                    // Gets the elements from the parsed handshape table
                    doc.getElementsByClassName(HS_LIST[i].replaceAll("_", "-"))[0].appendChild(p);
                    if (handshapeImgs[HS_LIST[i]]) {
                    doc.getElementsByClassName(HS_LIST[i].replaceAll("_", "-"))[0].appendChild(hs_img);
                    }
                }
            }
            const handshapeTableEl = document.getElementById("handshape-table");

            // Adds the paragraph and image element to body
            handshapeTableEl.innerHTML = "";
            for (var i=0; i<doc.body.childNodes.length; i++) {
                handshapeTableEl.appendChild(doc.body.childNodes[i]);
            }
        }

        // Changes the URL to change the variant gloss showed
        function navigateToGloss(glossID) {
            history.pushState({}, "", `/vocab/${MAIN_GLOSS_ID}/${glossID}`);
        }
        
        // Updates DOM info when user changes select element
        glossSelectEl = document.getElementById("gloss-select");
        glossSelectEl.addEventListener("change", () => {
            if (glossSelectEl.value) {
                navigateToGloss(glossSelectEl.value);
            }
        })

        // Loads DOM info when url changes
        window.addEventListener("DOMContentLoaded", () => {
            if (glossSelectEl.value) {
                loadGlossFromRoute(window.location.pathname);
            } else {
                glossSelectEl.value = "{{ main_gloss.head_gloss_id }}";
                loadGlossFromRoute(window.location.pathname);
            }
        });

        // Updates DOM info when user navigates to page
        window.navigation.addEventListener("navigate", (event) => {
            const url = new URL(event.destination.url);
            loadGlossFromRoute(url.pathname); 
        });

    </script>
{% endblock %}