dialog[open] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
    margin: 35px, 30px;
    gap: 5px;
    background-color: var(--primary-color);
    width: 53vw;
    height: 43vh;
}

dialog[open] > * {
    align-self: stretch;
    text-align: center;
    margin: 10px 5px;
}

dialog[open] > div > h1 {
    font-size: 50px
}

dialog[open] > div > h3 {
    font-size: 30px
}


.study-container {
    width: 55vw;
    height: 50vh;
    margin: auto;
}

.front h1,
.back h1 {
    font-size: 60px;
}

.pause-button {
    display: inline-flex;
}

button {
    margin: 0 5px;
}

.study-finish-dialog {
    width: 60vw;
    height: 55vh;
}